{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "<<REPLACE API NAME>>"
  },
  "security": [],
  "paths": {},
  "components": {
    "securitySchemes": {}
  },
  "x-tyk-api-gateway": {
    "info": {
      "name": "<<REPLACE API NAME>>",
      "state": {
        "active": true,
        "internal": true
      }
    },
    "upstream": {
      "url": "<<REPLACE TARGETURL>>"
    },
    "server": {
      "gatewayTags": {
        "enabled": true,
        "tags": [
          "internal"
        ]
      },
      "listenPath": {
        "value": "<<AUTO REPLACE LISTENPATH>>",
        "strip": false
      }
    }
  }
}